

.appBar{
    border-radius:15px;
    margin-bottom: 30px;
    margin-top: 30px;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  .brandContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .heading{
    color: rgba(0,183,255, 1);
  }
  .image{
    margin-left: 15px;
  }
  .toolbar{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 400px;
  }
  .profile{
    display: flex;
    justify-content: space-between;
    width: 500px;
   
  }
  .userName {
    display: flex;
    align-items: center;
  }
  
  .purple{
    color: purple;
    background-color: purple;
  }