.signIn{
    margin-top: 30px;
}
.paper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem,
  }
  .root{
    margin: 1rem;
    }
  
  .avatar{
    margin:1rem;
    background-color:blue;
  }
  .form{
    width: 100%;
    margin-top: 2rem;
  }
  .submit{
    margin: 3rem 2rem,
  }
  .googleButton {
    margin-bottom:2rem;
  }